<a href="https://colab.research.google.com/github/nschantz21/studious-succotash/blob/develop/notebooks/1_1_ns_predictive_feature_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predictive Feature Exploration
last updated: 2021-12-20

After an initial exploratory data analysis, I will explore features that we would want to predict. Again, I will use a sub sample to prevent over fitting on the modeling step.  

I will then make a Lasso regression based on these theoretical models to see if they are worth pursuing further.  

Based on the available data, models for the following may be possible:
* Price Movement
* Liquidity
* Supply/Demand Pressure
* Price Volatility

**Executive Summary**  
The causal model for Liquidity for the best bids and asks (i.e. bq0 - aq0) yielded mildly significant results. I will move forward with this model for the sake of this exercise.

In [ ]:
# imports
import pandas as pd
import random
import matplotlib.pyplot as plt

In [ ]:
# constants
# you could change these and re-run the entire 
input_data_fp = "../data/interim/20190612.csv"
p = 0.1  # percent of lines in file to sample
random.seed(42)

# import data
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
df = pd.read_csv(
         input_data_fp,
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p)

In [ ]:
# to avoid inter-timestep comparisons I will drop duplicate timestamps
df.drop_duplicates(subset="timestamp", inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26751 entries, 0 to 27350
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  26751 non-null  int64
 1   price      26751 non-null  int64
 2   side       26751 non-null  object
 3   bp0        26751 non-null  int64
 4   bp1        26750 non-null  float64
 5   bp2        26749 non-null  float64
 6   bp3        26748 non-null  float64
 7   bp4        26748 non-null  float64
 8   bq0        26751 non-null  int64
 9   bq1        26751 non-null  int64
 10  bq2        26751 non-null  int64
 11  bq3        26751 non-null  int64
 12  bq4        26751 non-null  int64
 13  ap0        26751 non-null  int64
 14  ap1        26750 non-null  float64
 15  ap2        26750 non-null  float64
 16  ap3        26749 non-null  float64
 17  ap4        26748 non-null  float64
 18  aq0        26751 non-null  int64
 19  aq1        26751 non-null  int64
 20  aq2        26751 non-null  int64
 21  aq3        26751 non-null  int64
 22  aq4        26751 non-null  int64
 23  bid_vwap   26751 non-null  float64
 24  ask_vwap   26751 non-null  float64
dtypes: float64(10), int64(14), object(1)
memory usage: 5.3+ MB

In [ ]:
# calculate the bid-ask spreads and balance of quantities at each level
for x in range(5):
    df["spread{}".format(x)] = df["ap{}".format(x)] - df["bp{}".format(x)]
    # spread balance: positive is excess demand, negative is excess supply
    df["spread_balance_{}".format(x)] = df["bq{}".format(x)] - df["aq{}".format(x)]

# Price Movement
We may want to predict price movements.  
To normalize this feature, we will want to look at the change in price over a change in time.  

The theoretical causal model in this case would be forward price movement as a function of supply/demand pressure, price momentum, and market liquidity. The supply/demand pressure is measured here as the quantity of bids less the quantity of asks (i.e. a positive number is higher demand, a negative number is higher supply), momentum is price change over a defined period of time, and liquidity is the spread at each price level.

In [ ]:
# Rolling Average Price Change per Microsecond
steps_forward = 5000
fwd_price_change = (df["price"].diff(steps_forward) / df["timestamp"].diff(steps_forward)).shift(-steps_forward).rename("fwd_price")

In [ ]:
supply_demand_pressure = df.filter(regex="spread_balance_*").diff(steps_forward)

In [ ]:
momentum = df["price"].diff(steps_forward).rename("momentum")

In [ ]:
spread = df.filter(regex="spread[0-5]").diff(steps_forward)

In [ ]:
# ask vwap less bid vwap
vwap_spread = (
    df[["bid_vwap", "ask_vwap"]]
    .diff(axis=1)
    .dropna(axis=1)
    .iloc[:, 0]
    .rename("vwap_spread")
).rolling(steps_forward).mean()

In [ ]:
# concat the features
price_model_features = pd.concat(
    [
     fwd_price_change,
     supply_demand_pressure,
     momentum,
     spread,
     vwap_spread
    ],
    axis=1
).dropna()

In [ ]:
price_model_correlations = price_model_features.corr()
price_model_correlations

                  fwd_price  spread_balance_0  ...   spread4  vwap_spread
fwd_price          1.000000          0.022761  ...  0.011599     0.023994
spread_balance_0   0.022761          1.000000  ... -0.000317     0.001808
spread_balance_1   0.014014          0.174422  ...  0.007679    -0.041018
spread_balance_2  -0.004272          0.065772  ... -0.001435    -0.056790
spread_balance_3   0.030558          0.085057  ... -0.019218    -0.016880
spread_balance_4   0.013282         -0.088058  ...  0.022444    -0.012128
momentum          -0.353078         -0.003318  ... -0.010039    -0.070293
spread0            0.012061         -0.000466  ...  0.994436    -0.020215
spread1            0.011599         -0.000317  ...  1.000000    -0.023434
spread2            0.011599         -0.000317  ...  1.000000    -0.023434
spread3            0.011599         -0.000317  ...  1.000000    -0.023434
spread4            0.011599         -0.000317  ...  1.000000    -0.023434
vwap_spread        0.023994          0.001808  ... -0.023434     1.000000

[13 rows x 13 columns]

Unfortunately I do not see much of a pattern in the potential model features, aside from momentum

## Modeling

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
reg = Lasso(alpha=1.0, max_iter=10000)
y = price_model_features.iloc[:, 0].values
X = price_model_features.iloc[:, 1:].values
reg.fit(X, y)

Lasso(max_iter=10000)

In [ ]:
reg.coef_

array([ 0.,  0., -0.,  0.,  0., -0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [ ]:
reg.score(X, y)

0.0

In [ ]:
# it just predicts a constant
reg.predict(X)

array([-8.61627915e-09, -8.61627915e-09, -8.61627915e-09, ...,
       -8.61627915e-09, -8.61627915e-09, -8.61627915e-09])

# Liquidity (Volume)

Liquidity in this case is the quanity of bids at the best (lowest) bid price less the quantity of asks at the best (highest) ask price.  

The causal model is forward change in liquidity (bq0 - aq0) is a function of past changes in liquidity across all levels, price volatility, and measures of price momentum.

In [ ]:
liquidity_steps_forward = 5000
balances = df.filter(regex="spread_balance_0").diff(liquidity_steps_forward).shift(-liquidity_steps_forward).iloc[:,0].rename("fwd_liq")

In [ ]:
other_balances = df.filter(regex="spread_balance_[0-4]").diff(liquidity_steps_forward)

# I did split the momentum up at one point, but it didn't help much
#bid_momentum = df.where(df["side"]=="b")["price"].diff(liquidity_steps_forward).rename("bid_momentum").fillna(0.0)
#ask_momentum = df.where(df["side"]=="a")["price"].diff(liquidity_steps_forward).rename("ask_momentum").fillna(0.0)

# volatility
price_volatility = df["price"].rolling(liquidity_steps_forward).std().rename("price_volatility")

In [ ]:
#liquidity_features = balances.join(other_balances).join(bid_momentum).join(ask_momentum).join(price_volatility).dropna()
liquidity_features = pd.concat(
    [
        balances,
        other_balances,
        momentum,
        price_volatility,
        df["bid_vwap"].diff(liquidity_steps_forward), df["ask_vwap"].diff(liquidity_steps_forward)
     ],
     axis=1).dropna()
liquidity_features.corr()

                   fwd_liq  spread_balance_0  ...  bid_vwap  ask_vwap
fwd_liq           1.000000         -0.555715  ...  0.054511  0.062550
spread_balance_0 -0.555715          1.000000  ... -0.020120 -0.023207
spread_balance_1 -0.069717          0.140163  ...  0.006573 -0.025773
spread_balance_2 -0.096067          0.119778  ... -0.045877 -0.063780
spread_balance_3 -0.089546          0.092532  ... -0.177581 -0.180629
spread_balance_4 -0.033427         -0.014040  ... -0.286988 -0.277309
momentum          0.022640         -0.030589  ...  0.161190  0.131859
price_volatility -0.015190         -0.011670  ... -0.813067 -0.819570
bid_vwap          0.054511         -0.020120  ...  1.000000  0.969166
ask_vwap          0.062550         -0.023207  ...  0.969166  1.000000

[10 rows x 10 columns]

In [ ]:
liquidity_features.describe()

            fwd_liq  spread_balance_0  ...      bid_vwap      ask_vwap
count  16751.000000      16751.000000  ...  16751.000000  16751.000000
mean       0.698167          0.921258  ...     -8.843506     -9.822971
std       96.911873         94.132133  ...     26.359053     26.637220
min     -334.000000       -359.000000  ...   -167.007792    -72.222988
25%      -66.000000        -63.000000  ...    -36.337515    -38.511823
50%        0.000000          1.000000  ...     -3.571130     -2.611945
75%       67.000000         65.000000  ...     11.687370     10.603571
max      337.000000        337.000000  ...     38.461849     34.729762

[8 rows x 10 columns]

In [ ]:
reg1 = Lasso(alpha=1.0, max_iter=10000)
y1 = liquidity_features.iloc[:, 0].values
X1 = liquidity_features.iloc[:, 1:].values
reg1.fit(X1, y1)

Lasso(max_iter=10000)

In [ ]:
reg1.coef_

array([-0.56821984,  0.02677982, -0.02525054, -0.02310299, -0.02030745,
       -0.01153164,  0.67561676, -0.23307728,  0.47907567])

In [ ]:
# not a good score, but an improvement
reg1.score(X1, y1)

0.31448416026347825

In [ ]:
df.head()

    timestamp  price side  ...  spread_balance_3  spread4  spread_balance_4
0           0  10095    b  ...                 0      NaN                 0
4          12  10090    b  ...                 0      NaN                 0
7          30  10115    a  ...              -110      NaN                 0
9          58  10070    b  ...               -53     45.0                -4
10        114  10130    a  ...               -53     45.0                -4

[5 rows x 35 columns]